// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include "rk3506.dtsi"
#include "rk3502.dtsi"
#include "rk3506g-mini-v10.dtsi"
//#include "rk3506g-mini-v10-mipi.dtsi"
#include "rk3506g-mini-v10-rgb.dtsi"

/ {
	// LED
	leds {
		compatible = "gpio-leds";
		status = "okay";
		heart_led {
			label = "run";
			gpios = <&gpio0 RK_PB5 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};
	};

	// KEY
	adc_keys: adc-keys {
		compatible = "adc-keys";
		status = "disabled";
		io-channels = <&saradc 2>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		vol-up-key {
			label = "key 1";
			linux,code = <KEY_1>;
			press-threshold-microvolt = <575000>;
		};

		vol-down-key {
			label = "key 2";
			linux,code = <KEY_2>;
			press-threshold-microvolt = <1125000>;
		};
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			inactive;
			reusable;
			size = <0x1000000>;
			linux,cma-default;
		};

		drm_logo: drm-logo@0 {
			compatible = "rockchip,drm-logo";
			reg = <0x0 0x0>;
		};
	};

	dp_gpio_interrupt: dp-gpio-interrupt {
		compatible = "dp_industry,dp_key";
        pinctrl-names = "default";
        pinctrl-0 = <&key_gpio3_a7>;

        interrupt-parent = <&gpio3>;
        interrupts = <RK_PA7 IRQ_TYPE_EDGE_FALLING>;
		leds = <&dp_led>;
		status = "okay";
	};

	dp_led: dp-led {
		compatible = "dp_industry,dp_led";
		pinctrl-names = "default";
		pinctrl-0 = <&dp_gpio_led>;
		led-gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
};

&saradc {
	vref-supply = <&vcc_1v8>;
	status = "okay";
};

// UART1 - JP3
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io16_uart1_rx &rm_io17_uart1_tx>;
	status = "okay";
};

// UART1 - JP4
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io0_uart2_rx &rm_io2_uart2_tx>;
	status = "okay";
};

// UART1 - JP5
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io15_uart3_rx &rm_io14_uart3_tx>;
	status = "okay";
};

// CAN0 - JP6
&can0 {
	rockchip,rx-max-data = <18>;
	assigned-clocks = <&cru CLK_CAN0>;
	assigned-clock-rates = <200000000>;
	pinctrl-0 = <&rm_io19_can0_tx &rm_io20_can0_rx>;
	pinctrl-names = "default";
	status = "okay";
};

&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io4_i2c2_scl &rm_io5_i2c2_sda>;
	status = "okay";

	// RTC
	rtc_bmf8563: rtc@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		status = "okay";
	};
};

&pinctrl {
	/*
	 * rockchip pinctrl 必须两层：
	 *   功能(function)节点  ->  组(group)节点(带 rockchip,pins)
	 * 组平铺在 &pinctrl 下会变成 "groups = [ ]" 的空 function，
	 * pinctrl-0 引用时就会报 unable to find group for node xxx。
	 */
	led {
		dp_gpio_led: dp_gpio_led {
			rockchip,pins = <3 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		gpio_led_run: gpio-led-run {
			rockchip,pins = <0 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	key {
		key_gpio4_b2: key-gpio4-b2 {
			rockchip,pins = <4 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
	key-1 {
		key_gpio3_a7: key_gpio3_a7 {
			rockchip,pins = <3 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
